<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nowe zadanie</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header><h1>Nowe zadanie</h1></header>
<main>
    <form th:action="@{/tasks/new}" th:object="${taskCreateRequest}" method="post">
        <label for="title">Tytuł:</label>
        <input type="text" th:field="*{title}" id="title" required><br>
        <label for="content">Treść:</label>
        <textarea th:field="*{content}" id="content" required></textarea><br>
        <label for="categoryId">Kategoria:</label>
        <select th:field="*{categoryId}" id="categoryId">
            <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
        </select><br>
        <label>Anonimowo: <input type="checkbox" th:field="*{anonymous}"></label><br>
        <button type="submit">Zapisz szkic</button>
    </form>
</main>
</body>
</html>